:root {
    --transparent: rgba(0, 0, 0, .0);
    --light: hsl(0, 0%, 92%);
    --dark: hsl(0, 0%, 12%);
    --screen-off: hsl(64, 9%, 66%);

    --primary: hsl(40, 100%, 50%);
    --secondary: hsl(217, 51%, 35%);
    --tertiary: hsl(340, 100%, 44%);
    --quaternary: hsl(210, 71%, 80%);

    --background: var(--light);
    --foreground: var(--secondary);
    --hover: var(--dark);
    --sun: var(--primary);
}

.dark-mode {
    --primary: var(--light);
    --secondary: hsl(212, 26%, 24%);
    --tertiary: hsl(268, 34%, 42%);
    --quaternary: hsl(193, 16%, 66%);

    --background: var(--dark);
    --foreground: var(--secondary);
    --hover: var(--sun);
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;  
}

body {
    min-width: 180px;
    min-height: 340px;
    height: 100vh;
    font-family: 'Orbitron', sans-serif;
    background-color: var(--background);
    color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    transition: background-color 0.4s;
    transition-timing-function: linear;
}

body > * {
    margin: 1rem 1rem 0 1rem;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

#mode {
    background-color: var(--transparent);
    border: 1px solid;
    border-color: inherit;
    color: inherit;
    border-radius: 3px;
    right: 0;
    margin-left: auto;
    padding: .2rem;
}

#mode .material-icons {
    display: none;
}

#mode .active {
    display: block;
}

#mode .active:hover, #mode:focus span {
    animation: rotating 10s;
    animation-iteration-count: infinite;
}

#container {
    max-width: 370px;
    max-height: 550px;
    background-color: var(--foreground);
    width: 100%;
    height: 100%;
    border-radius: .4rem;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem;
    box-shadow: 0rem 1rem hsl(0, 0%, 45%);
}

#calcScreen {
    background-color: var(--quaternary);
    height: 20%;
    text-align: right;
    padding: .5rem;
    margin: .5rem .5rem 1rem .5rem;
    border-radius: .2rem;
    box-shadow: 0 -0.30rem hsl(0, 0%, 60%);
}

#calcScreen div {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    text-shadow: 0px 3px 0px hsl(0, 0%, 65%), 0px 3px 0px rgba(0,0,0,0.15);
}

.off {
    background-color: var(--screen-off)!important;
}

#topHolder {
    height: 30%;
    opacity: .8;
    overflow: hidden;
    white-space: nowrap; 
}

#mainHolder {
    height: 70%;
    font-size: 2.05rem;
}

.shrink {
    font-size: 1.5rem!important;
}

#calcKeypad {
    height: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#calcKeypad button {
    color: var(--primary);
    background-color: var(--background);
    margin: .5rem;
    border-radius: .25rem;
    font-size: 1.3rem;
    font-family: inherit;
    box-shadow: 0 .40rem hsl(0, 0%, 55%);
}

#calcKeypad button:hover {
    background-color: var(--hover)!important;
}

.key {
    transition: all .07s ease!important;
}

.press-down {
    background-color: var(--hover)!important;
    box-shadow: 0 .25rem hsl(0, 0%, 45%);
    transform: translateY(.15rem);
}

#equal {
    /*  grid area: row start / column start / row end / column end */
    grid-area: 4 / 4 / 6 / 5;
    background-color: var(--quaternary)!important;
}

.delete {
    background-color: var(--tertiary)!important;
}

.bold {
    font-weight: bold;
    font-size: 1.4rem;
}

footer {
    margin: 1rem 0 .12rem 0;
    text-align: center;
    position: relative;
    display: inline-block;
    height: auto;
    width: 100%;
    opacity: .6;
    overflow: hidden;
}

footer:hover {
    opacity: 1;
}

footer a {
    color: var(--primary);
    font-size: 1.1rem;
}

footer a::before, footer a::after {
    content: '';
    margin: 0 .2rem;
}

footer a:hover, footer a:focus {
    color: var(--tertiary);
    letter-spacing: .3rem;
    text-decoration: none;
    transition: .5s;
    background-color: var(--background);
    padding: 1rem;
    height: 100%;
}

footer a:hover::before, footer a:hover::after,
footer a:focus::before, footer a:focus::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--primary);
}

footer a:hover::before, footer a:focus::before {
    z-index: -1;
}

footer a:hover::after, footer a:focus::after {
    left: 50%;
    transform: translateX(-50%); 
    z-index: -2;
}

@keyframes rotating {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100%{transform: rotate(360deg);}
}

@media only screen and (max-width: 700px) {
    footer a{
        display: block;
    }
}